.boardLayout {
    background-color: lightblue;
    border: 1px solid black;
    display: inline-block;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width:550px;
    height:550px;
}

#slider{
    height: 480px;
    float: left;
    width: 100px;
   
}

#blue {
    background-color: blue;
    height: 10px;
    width: 10px;
}

.score {
    float:right;
}

.touchSurface {
    background-color: yellow;
    border: 1px solid black;
}