.board {
    background-color: lightblue;
    border: 1px solid black;
    display: inline-block;
    position: fixed;
}

#slider{
    height: 480px;
    float: left;
    width: 100px;
   
}

.board {
    padding: 0px;
    margin: 0px;
}

#blue {
    background-color: blue;
    height: 10px;
    width: 10px;
}

.score {
    float:right;
}

.touchSurface {
    background-color: yellow;
    border: 1px solid black;
}