body {
    background-color: black;
}

#countdown {
	width: 100%;
	height: 100%;
	opacity: .50;
	background-color:whitesmoke;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 10;
	font-size: 30vw;
	font-size: 30vh;
	text-align: center;
}

#gameboard {
    background-color: lightblue;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 600px;
    height: 600px;
    z-index: 1;
}

.touchSurface {
    background-color: rgb(250, 250, 0);
	border: 1px solid black;
	height:550px;
	width: 80px;
	float: left;
	margin-right: 4px;
}
.gameStatus {
    background-color: whitesmoke;
	border: 1px solid black;
	height:550px;
	min-width: 140px;
	float: right;
}

.gameTitle {
    background-color: whitesmoke;
	border: 1px solid black;
	height:50px;
	width: 100%;
	float: top;
	
}

.modal-header {
	background-color: black;
	color: white;
	
}


.container-fluid {
	background-color: black;
	font-family: 'OCR A';
    font-weight: bold;
    margin-top: 1px;
    color: white;
}


.modal-body{
	background-color: black;
	font-family: 'OCR A';
    font-weight: bold;
    margin-top: 1px;
    color: white;
}

h1 {
    color: white;
    font-family: 'OCR A';
}

#team1_score, #team2_score {
    color: white;
    font-family: 'OCR A';
}

#Team1, #Team2 {
    font-family: 'OCR A';
    background-color: white;
    color: black;
    height: 300px;
    margin: auto;
}

#score {
    padding-bottom: 20px;
}
